{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": ["*.yaml", "*.yml"],
      "options": {
        "singleQuote": false,
        "tabWidth": 2
      }
    },
    {
      "files": "*.rs",
      "options": {
        "tabWidth": 4,
        "useTabs": false
      }
    },
    {
      "files": ["*.html", "*.css", "*.scss"],
      "options": {
        "printWidth": 120
      }
    }
  ]
}
